body{
    margin: 0px;
    background-image: url("https://ojus132.github.io/tinder-replica.github.io/media/bg-img.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainBg{
    height: 100vh;
    margin: 0px;
}

.overMainBg{
    background-color: white;
    margin: 0px;
    border-bottom: 0px;
}

.mainBg.header{
    position: sticky;
}

h1.a{
    font-family: "Gotham Rounded";
    color: white;
    font-size: 400%;
}