body{
    background-image: url("https://ojus132.github.io/tinder-replica.github.io/media/bg-img.png");
}

.mainBg{
    position: fixed;
    height: 100vh;
}

h1.a{
    font-family: "Gotham Rounded";
    color: white;
}