body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('https://ojus132.github.io/tinder-replica.github.io/media/bg-img.png');
    background-size: cover;
    background-attachment: fixed;
}

.bg{
    height: 100vh;
    z-index: -1;
}

.header{
    display: flex;
    margin: 0px;
    padding: 20px;
    height: 8vh;
    position: fixed;
    color: white;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0s));
}

.navBar{
    display: flex;
    list-style-type: none;
    font-size: 125%;
} 

.navBar li{
    margin: 10px;
}

.navBar li a{
    text-decoration: none;
    color: white;
}

.navBar li a:hover{
    color: red;
    text-decoration: underline;
}

.productsDropdown{
    position: absolute;
    top: 60px;
    margin: 0px;
    display: none;
}

.productsDropdown a{
    display: block; 
    margin: 10px; 
    color: white;
}

.productsDropdown a:hover{
    color: red;
    text-decoration: none;
}

.Products:hover .productsDropdown{
    display: block;
}

.login{
    background-color: white;
    border: none;
    padding: 7px 30px;
    font-size: 125%;
    align-items: right;
    border-radius: 100px;
}

.login:hover {
    background-color: #E1D9D1;
}

.bgLoginPop{
    display: block;
    height: 100vh;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    z-index: 3;
}

#loginPop{
    display: none;
    position: fixed;
    top: 20vh;
    left: 35%;
    background-color: white;
    height: 60vh;
    width: 30%;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 4;
    padding: 20px;
}

.cross{
    width: 20px;
    float: right;
}



.break{
    height: 0px;
}

.content{
    margin: 0px;
    padding: 0px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    color: white;
    font-size: 550%;
    font-weight: 900;
}

.tagline{
    position: relative;
    top: 20%;
}

#createAccount{
    border: none;
    background-color: red;
    color: white;
    margin: 30px;
    padding: 10px 40px;
    font-size: 20%;
    border-radius: 100px;
    position: relative;
    top: 100%;
}

#createAccount:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    color: #E1D9D1;
}

.belowMainBg{
    background-color: white;
    margin: 0px;
    height: 500px;
}
